<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saber y Ganar</title>
</head>
<body>
    include main
    <script src="romanNumerals.js"></script>
    <script>startApplication.translate()</script>
</body>
</html>